In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('train_processed.csv')
df.head()

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
0,1.253907,female,Bachelor,0.664828,1.101366,MORTGAGE,0.964450,PERSONAL,12.73,0.337536,1.047467,-0.143301,No,0
1,-0.335826,male,High School,0.159686,-0.078303,RENT,0.599600,VENTURE,11.86,0.453536,-0.275828,0.468757,Yes,0
2,1.782277,female,Master,2.623655,1.621472,MORTGAGE,1.798002,PERSONAL,10.37,-0.832058,1.332346,1.052801,Yes,0
3,0.176694,male,Associate,0.609886,0.154245,RENT,0.253269,EDUCATION,17.14,-0.336945,0.665514,0.067033,No,0
4,0.176694,male,Master,0.427254,0.655721,RENT,-0.195311,HOMEIMPROVEMENT,12.97,-0.658384,-0.797265,1.667391,Yes,0

In [6]:
df.isnull().sum()

person_age                        0
person_gender                     0
person_education                  0
person_income                     0
person_emp_exp                    0
person_home_ownership             0
loan_amnt                         0
loan_intent                       0
loan_int_rate                     0
loan_percent_income               0
cb_person_cred_hist_length        0
credit_score                      0
previous_loan_defaults_on_file    0
loan_status                       0
dtype: int64